<div class="formInscrip">
  <h2>Inscripción al Curso</h2>
  <hr>

  <form [formGroup]="form" >

    <div class="form-group">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>DNI</mat-label>
        <input matInput type="text" formControlName="dni" />
      </mat-form-field>
      <div class="error" *ngIf="form.get('dni')?.invalid && form.get('dni')?.touched">
        DNI inválido (mínimo 1 carácter)
      </div>
    </div>

    <button
      *ngIf="form.get('dni')?.valid"
      mat-raised-button
      color="primary"
      type="button"
      (click)="getAlumno()"
      class="submit-btn"
    >
      Buscar alumno
    </button>

    <ng-container *ngIf="student$ | async as student; else noAlumno">
      <div *ngIf="student">
        <p><strong>Alumno:</strong> {{ student.name }}</p>

        <div class="form-group">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Seleccione curso</mat-label>
            <mat-select formControlName="curso">
              <mat-option *ngFor="let curso of cursos" [value]="curso.id">
                {{ curso.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <div class="error" *ngIf="form.get('curso')?.invalid && form.get('curso')?.touched">
            Seleccione un curso
          </div>
        </div>

        <button
          *ngIf="form.valid"
          mat-raised-button
          color="accent"
          type="button"
          class="submit-btn"
          (click)="signUpAlumno(student)"
        >
          Inscribir
        </button>
      </div>
    </ng-container>
    <ng-template #noAlumno>
      <div *ngIf="busquedaRealizada">
        <div class="error" style="margin-top: 10px;">Alumno no encontrado</div>
      </div>
    </ng-template>
  </form>
</div>