<div class="login-form">
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <h2>Login</h2>


    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Usuario</mat-label>
      <input matInput type="text" formControlName="username" />
      <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.errors?.['minlength']" class="error">
        Mínimo 4 caracteres
      </div>
    </mat-form-field>


    <mat-form-field appearance="fill" class="form-group">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" />
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.errors?.['minlength']" class="error">
        Mínimo 4 caracteres
      </div>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="submit-btn"
      *ngIf="canSubmit() && !(loading$ | async)">
      Ingresar
    </button>
  <span *ngIf="loading$ | async">Cargando...</span>
  <p *ngIf="(error$ | async) as error" class="error">{{ error }}</p>
  </form>
</div>